# data and .csv files - please contact john.collins@edhec.com re source data
*.csv
*.xls*
data/

# jupyter checkpoints
.ipynb_checkpoints/

# working files and directories, which I generally name 'rem', and venv
rem.*
REM*/

# environment variables
.env

