<!doctype html>
<html lang="en">
<head>

    <!-- MUST ADD block head ETC.  SEE https://bootstrap-flask.readthedocs.io/en/stable/migrate/ CREATE BASE TEMPLATE SECTION -->
    {% block head %}
 	<title>Bootstrap Example</title>
 	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% endblock  %}
</head>

<body>

    <!-- source https://bootstrap-flask.readthedocs.io/en/stable/macros/ -->
    {% from 'bootstrap4/nav.html' import render_nav_item %}

    {% block content %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">   
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Page 1-1</a></li>
                        <li><a href="#">Page 1-2</a></li>
                        <li><a href="#">Page 1-3</a></li>
                    </ul>
                </li>
                <li><a href="#">Page 2</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
				
				<li><a href="/me.html">me using #</a></li>

                <li><a href="{{ url_for('me') }}">me</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
  
    <div class="container">
        <h3>Right Aligned Navbar</h3>
        <p>The .navbar-right class is used to right-align navigation bar buttons.</p>
    </div>

	<div class="container">
		<div id="footer"> 
			<p class="text-center fixed-bottom">&copy 2022 johncollins</p> 
		</div> 
	</div>
    {% endblock %}

</body>
</html>

