<!doctype html>
<html lang="en">
<head>

    <!-- MUST ADD block head ETC.  SEE https://bootstrap-flask.readthedocs.io/en/stable/migrate/ CREATE BASE TEMPLATE SECTION -->
    {% block head %}
 	<title>Bootstrap Example</title>
 	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% endblock  %}
</head>

<body>
	{% block content %}
    <!-- source https://bootstrap-flask.readthedocs.io/en/stable/macros/ -->
    {% from 'bootstrap4/nav.html' import render_nav_item %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    	<div class="navbar-nav mr-auto">
        	{{ render_nav_item('index', 'Home') }}
        	{{ render_nav_item('me', 'me') }}
    	</div>
	</nav>
  
    <div class="container">
        <h3>Right Aligned Navbar</h3>
        <p>The .navbar-right class is used to right-align navigation bar buttons.</p>
    </div>

	<div class="container">
		<div id="footer"> 
			<p class="text-center fixed-bottom">&copy 2022 johncollins</p> 
		</div> 
	</div>
    {% endblock %}

</body>
</html>

