{% block app_content %}
<h1 style="color:orange;font-weight:normal">contact from johncollins.ai</h1>  
<hr style="height:1px; margin:10; width:99%; color:orange; background-color:orange">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Contact name and email</h4>
                    <p class="card-text"> 
                        {{ contact.name }} <br>
                        {{ contact.email }} <br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Contact message</h4>
                    <p class="card-text"> 
                        {{ contact.message }} <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
<hr style="height:1px; margin:10; width:99%; color:orange; background-color:orange">
{% endblock %}



