<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="static/images/greg-userguide.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="title" content="https://johncollinsai-greg-voqqf4ls3a-as.a.run.app/">
    <meta name="description" content="AI analyst for due diligence">
    <meta property="og:title" content="AI analyst for due diligence">
    <meta property="og:description" content="AI analyst for due diligence">
    <meta property="og:url" content="https://johncollinsai-greg-voqqf4ls3a-as.a.run.app/">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="https://johncollinsai-greg-voqqf4ls3a-as.a.run.app/">
    <meta property="og:image" content="https://johncollinsai-greg-voqqf4ls3a-as.a.run.app/app/static/images/greg-userguide.png">
    <meta property="og:image:secure_url" content="https://johncollinsai-greg-voqqf4ls3a-as.a.run.app/app/static/images/greg-userguide.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="https://johncollinsai-greg-voqqf4ls3a-as.a.run.app/">
    <meta name="twitter:description" content="AI analyst for due diligence">
    <meta name="twitter:image" content="https://johncollinsai-greg-voqqf4ls3a-as.a.run.app/app/static/images/greg-userguide.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://johncollinsai-greg-voqqf4ls3a-as.a.run.app/app/static/images/greg-userguide.png">
  
    <title>AI analyst for due diligence</title>
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  
    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.16.2/dist/umd/popper.min.js" integrity="sha384-ZRQgMf+zD5HtB5x8yhJ4y4Y4YO/7fMeRX/PV/v2t+5Dt7FJ8NpW4LN3ZYpDV7yoA" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.0/es5/tex-mml-chtml.js"></script>
  
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/greg-app-favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/greg-app-favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/greg-app-favicon/favicon-16x16.png">
    <link rel="manifest" href="static/images/greg-app-favicon/site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="static/images/greg-app-favicon/favicon.ico">
    <a href="https://johncollinsai-greg-voqqf4ls3a-as.a.run.app/"><img src="https://johncollinsai-greg-voqqf4ls3a-as.a.run.app/static/images/greg-app-favicon/favicon.ico" alt="Favicon" style="display:none;"></a>
  
    <!-- Include CSS file -->
    <link rel="stylesheet" href="/static/css/style.css">
  
    <!-- Include error handling file -->
    <script src="/static/js/errorHandling.js"></script>
  
    <!-- Include JavaScript file -->
    <script src="/static/js/scripts.js"></script>
    
    <!-- Include Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<!-- navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-custom">
  <div class="container">
    <a class="navbar-brand ml-2 text-light" href="{{ url_for('index') }}">AI assistant for due diligence demo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ml-2">
          <a href="https://github.com/johncollinsai"><img src="https://github.githubassets.com/favicon.ico" title="github repos" alt="GitHub icon" style="filter: invert(100%);" target="_blank"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Title -->
<div class="jumbotron jumbotron-fluid jumbotron-black-top" style="margin-bottom: 75px;">
  <div class="container">
    <h1 class="display-4 text-center h1-margin-top h1-margin-bottom text-blue">User Guide </h1>
  </div>
</div>

<!-- Quick start -->
<div class="container">
  <h2 class="margin-top-custom text-white">Quick Start</h2>
  <ul>
    <li>Enter a company name.</li>
    <li>Select 'Due Diligence' as your AI-Analyst. This is the default for this demo and the button should be green.</li>
    <li>Wait for up to 2 minutes while the model does its work.</li>
    <li>Copy and paste the response into a report and/or send it to yourself via email.</li>
  </ul>
</div>

<!-- promtengineering webapp -->
<section class="bg-black py-5">
  <div class="container">
    <div class="content-wrapper">
      <p class="text-center text-purple">You can access the AI assistant below too, to save navigating back to the home page.</p>
      <p></p> <!-- empty paragraph for spacing -->
      <p></p> <!-- empty paragraph for spacing -->
      <div class="embed-responsive embed-responsive-16by9">
        <iframe id="predefined-question" class="embed-responsive-item" src="https://johncollinsai-ai-analystgpt-voqqf4ls3a-as.a.run.app/" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>

<!-- RESPONSIBLE AI -->
<section class="container-fluid pt-4 pb-5" style="background-color: #6F42C1; border: none;">
  <div class="container">
    <h2 class="text-center my-4 text-white">Responsible AI</h2>
    <div class="row justify-content-center" style="display: flex; align-items: stretch;">
      
      <!-- Card -->
      <div class="col-md-10 d-flex align-items-stretch">
        <div class="card bg-transparent custom-card custom-border">
          <div class="card-body text-light">
            <p>The AI assistant provides different analyst modalities: due diligence, business, investigation, finance. Input a valid company name, and the AI generates a tailored report. Notice the application of rigorous input validation and specific response boundaries, a cornerstone of responsible AI.</p>
            <p>Key principles of responsible AI implementation include:</p>
            <ul>
              <li><strong>Misuse Prevention:</strong> Input validation blocks harmful or inappropriate AI outputs and potential misuse.</li>
              <li><strong>User Safety:</strong> Techniques like input validation safeguard sensitive personal information, aligning with privacy laws.</li>
              <li><strong>Output Quality:</strong> Prompt engineering steers the AI to generate detailed, accurate responses, in this case specific types of analysis.</li>
              <li><strong>Ethical Guidelines Adherence:</strong> Input validation and prompt engineering ensure respect for societal norms and ethical guidelines.</li>
              <li><strong>Biases Mitigation:</strong> Careful input validation and prompt engineering can control amplification of existing biases.</li>
            </ul>
            <p>This demo therefore illustrates how input validation, prompt engineering, and fine-tuning pretrained LLMs are crucial in maintaining responsible, safe, and high-quality AI outputs.</p>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</section>

<!-- Prompt engineering -->
<div class="container">
  <h2 class="margin-top-custom text-white">Prompt Engineering</h2>
  <p>There are several ways in which I engineer the prompts to get responses from the models that best fit the specific analyst modalities. I use few-shot approaches to provide the model with examples to guide its output. I also use an instruction approach, which focuses on the task definition or command within the input prompt, influencing the model's output through its specificity, clarity, and context. Chain of Thought (CoT) is used to break down complex tasks into a series of simpler, linked prompts.</p>
</div>

<!-- Input validation -->
<div class="container">
  <h2 class="margin-top-custom text-white">Input Validation</h2>
  <p>Only valid company names are accepted as inputs. The AI assistant validates the company name you enter by checking that it exists in a recognized corporate database or is listed on a stock exchange. It currently checks:
    <ul>
      <li>The New York Stock Exchange NYSE</li>
      <li>The NASDAQ</li>
      <li>The London Stock Exchange LSE</li>
      <li>The Tokyo Stock Exchange TSE</li>
      <li>The Shanghai Stock Exchange SSE</li>
      <li>The Hong Kong Stock Exchange HKSE</li>
      <li>The Euronext</li>
      <li>The Shenzhen Stock Exchange SZSE</li>
      <li>The Toronto Stock Exchange TSX</li>
      <li>The Bombay Stock Exchange BSE</li>
      <li>The National Stock Exchange of India NSE</li>
      <li>The SIX Swiss Exchange SIX</li>
      <li>The Korea Exchange KRX</li>
      <li>The Australian Securities Exchange ASX</li>
      <li>The JSE Limited JSE</li>
      <li>The Deutsche Börse XETRA</li>
      <li>The BME Spanish Exchanges BME</li>
      <li>The B3 B3</li>
      <li>The Stock Exchange of Thailand SET</li>
      <li>The Indonesia Stock Exchange IDX</li>
      <li>The Bursa Malaysia BHD Bursa Malaysia</li>
      <li>The Saudi Stock Exchange Tadawul</li>
      <li>The Tel Aviv Stock Exchange TASE</li>
      <li>The Singapore Exchange SGX</li>
      <li>The Philippine Stock Exchange PSE</li>
      <li>Or that it exists in a recognized corporate database:</li>
      <ul>
          <li>The S&amp;P Global Market Intelligence</li>
          <li>The Bureau van Dijk</li>
          <li>The Dun &amp; Bradstreet</li>
          <li>The Experian</li>
          <li>The Equifax</li>
          <li>The TransUnion</li>
          <li>The Moody's Analytics</li>
          <li>The Fitch Group</li>
          <li>The A.M. Best</li>
          <li>The DBRS Morningstar</li>
          <li>The RapidRatings</li>
          <li>The S&amp;P Global Ratings</li>
          <li>The Fitch Ratings</li>
          <li>The Moody's Investors Service</li>
          <li>The Kroll Bond Rating Agency</li>
      </ul>
      <li><a href="https://www.ciregistry.ky/">https://www.ciregistry.ky/</a></li>
      <li><a href="https://www.systemday.com/">https://www.systemday.com/</a></li>
      <li><a href="https://www.caymanresident.com/">https://www.caymanresident.com/</a></li>
      <li><a href="https://web.caymanchamber.ky/">https://web.caymanchamber.ky/</a></li>
      <li><a href="https://www.campaign.cima.ky/">https://www.campaign.cima.ky/</a></li>
  </ul>
  </p>
</div>

<!-- In-Context Learning and Indexing -->
<div class="container">
  <h2 class="margin-top-custom text-white">In-Context Learning</h2>
  <p>I use in-context learning to leverage pretrained LLMs for specific tasks related to due diligence without requiring direct access to the model. By providing a few task-related examples in the input prompt, the LLM I call can generate appropriate responses. As an extension of this concept I also use hard prompt tuning, which involves modifying input words to improve output quality.</p>
</div>

<!-- Finetuning Approaches -->
<div class="container">
  <h2 class="margin-top-custom text-white">Finetuning Approaches</h2>
  <p>Finetuning enables adaptation of pretrained LLMs to target tasks by updating model parameters. The feature-based approach involves extracting output embeddings from the pretrained LLM, using them as input features for training a separate classification model. This approach is undoubtedly the best way forward for full industrialization of a due diligence AI assistant. A popular variation of the feature-based approach focuses on training only the newly added output layers while keeping the pretrained LLM parameters frozen. This would work well for us. An alternative approach entails updating all layers of the pretrained LLM to achieve superior modeling performance. This would work even better but would cost a lot of money.</p>
</div>

<!-- Parameter-Efficient Finetuning -->
<div class="container">
  <h2 class="margin-top-custom text-white">Parameter-Efficient Finetuning</h2>
  <p>I use certain Parameter-Efficient Finetuning Techniques (PEFT). These help to optimize the LLM performance while minimizing computational and resource requirements. These techniques introduce a small number of additional parameters for finetuning, reducing the need to train the entire model. I have tried several approaches, including prefix tuning, adapters, and Low-RAnk (LoRA) adaptation to modify multiple layers. PEFT is particularly relevant when working with larger models that strain GPU memory capacity. For the record, all work related to this demo was done on single NVIDIA RTX 3090, running on a Pytorch-Tensorflow-CUDA-cuDNN-NVIDIA Lambda stack.</p>
</div>

<!-- Quantization -->
<div class="container">
  <h2 class="margin-top-custom text-white">Quantization</h2>
  <p>A quantized LLM is a compressed version of the original LLM that uses lower-precision data types for weights and activations. There are several approaches to model quantization for LLMs, including post-training quantization, quantization-aware training, and hybrid quantization. Post-training quantization involves training the LLM using floating-point data types and then quantizing the weights and activations to lower-precision data types post-training. Quantization-aware training involves quantizing the LLM during training, allowing the model to adapt to the reduced precision during training. Hybrid quantization combines both post-training quantization and quantization-aware training, allowing the LLM to adapt to lower-precision data types while also achieving good accuracy. I have found that quantization can significantly improve the efficiency of LLM inference, enabling better real-time inference on large-scale datasets.</p>
</div>

<!-- Set up -->
<div class="container">
  <h2 class="margin-top-custom text-white">Setup</h2>
  <p>The front end uses React for routing, state management, AJAX requests, and UI. A Flask app serves as an API to the React frontend. +Best practices are strictly followed for both client-side (React) and server-side (Flask) security. JSON Web Tokens provide robust API authentication. Rate limiting and input validation protect not only against SQL injection, cross-site scripting, and other similar vulnerabilities, but also provide rigorous prompt boundaries, a cornerstone of responsible AI.</p>
  <p>I use various approaches to leveraging closed and pretrained LLMs, including in-context learning, finetuning, parameter-efficient finetuning, and quantization. I also use several ways to engineer prompts to get responses from models that best fit the specific requirement of due diligence. Few-shot approaches provide the model with a handful of examples to guide its output. An instruction element focuses on the task definition and influences the model's output through specificity, clarity, and context.</p>
  <p>Languages used for this demo include Python, JavaScript, HTML, CSS, and Shell.</p>
  <p>Several libraries are used for this demo, including React, Flask, PyTorch, Tensorflow, openai, and Transformers.</p> 
  <p>I work on Ubuntu 20.04 using a single NVIDIA RTX 3090 running on a Pytorch-Tensorflow-CUDA-cuDNN-NVIDIA Lambda stack. My dev is GitHub-Copilot-VS Code.</p>
  <p>Several services are used for this demo, including Kubernetes Engine, Cloud DNS, Load Balancing, IAM, Logging, Monitoring, Error Reporting, Debugger, Security Scanner, Web Security Scanner, Secret Manager, Key Management Service, Build, and Artifact Registry.</p>
  <p>Docker is used for containerization.</p>
  <p>The AI assistant is currently hosted via Google Cloud, utilizing Nginx as a web server and proxy, and orchestrated through Kubernetes.</p>
</div>

<!-- Additional reading -->
<div class="container">
  <h2 class="margin-top-custom text-purple">Additional reading</h2>
  <p>John Collins (2023). Personal website with several posts that might be useful, including articles on building and fine-tuning LLMs and GPTs, and prompt engineering. <a href="https://johncollins.ai" target="_blank">johncollins.ai</a>.</p>
  <p>Lilian Weng (2023). Prompt Engineering. <a href="https://lilianweng.github.io/posts/2023-03-15-prompt-engineering/" target="_blank">Lil'Log</a>.</p>
  <p>Wei, J., et al. (2022). Chain-of-Thought Prompting Elicits Reasoning in Large Language Models. <a href="https://arxiv.org/abs/2201.11903" target="_blank">arXiv:2201.11903</a>.</p>
</div>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Footer -->
<div class="container-fluid bg-black py-3">
  <div class="row">
    <div class="col text-center text-white">
      <p>AI assistant for due diligence demo</p>
    </div>
  </div>
</div>
  
</body>
</html>

                           
