<!doctype html>
<html lang="en">
<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <link rel="stylesheet" href="static/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

  <title>johncollins.ai</title>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.16.2/dist/umd/popper.min.js" integrity="sha384-ZRQgMf+zD5HtB5x8yhJ4y4Y4YO/7fMeRX/PV/v2t+5Dt7FJ8NpW4LN3ZYpDV7yoA" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>

  <style>
    .container {
      max-width: 1140px;
    }

    body {
      background-color: black;
      color: white;
      font-family: "Quicksand", sans-serif;
    }

    .bg-black {
      background-color: #000000;
    }

    .border {
      border: 1px solid;
    }

    .border-white {
      border-color: #fff;
    } 

    .jumbotron-black-top {
          border-top: 50px solid #000;
    }

    .card-group-2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
    }

    .card-spacer {
    padding: 1rem;
    }
  </style>

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

  <!-- navbar -->
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand ml-2" href="{{ url_for('index') }}">johncollins.ai</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="https://twitter.com/AiClimate" title="Follow me on Twitter" target="_blank"><i class="fab fa-twitter fa-lg fa-inverse fa-fw"></i></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="https://www.linkedin.com/in/johncollins-ai/" title="Connect with me on LinkedIn" target="_blank"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
            </li>
            <li class="nav-item ml-2">
              <a href="https://github.com/johncollinsai"><img src="https://github.githubassets.com/favicon.ico" title="Follow me on GitHub" alt="GitHub icon" style="filter: invert(100%);" target="_blank"></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="jumbotron jumbotron-fluid jumbotron-black-top">
    <div class="container">
      <h1 class="display-4">Personal work</h1>
      <p class="lead">I created and lead <a href="https://ftiai.com" target-"_blank">FTIAI</a>. This is my personal site, where I share my own work and explore things that I find interesting. The code for my site and posts can be found on my <a href="https://github.com/johncollinsai" target-"_blank">GitHub</a>. Generally I am interested in how AI can be applied commercially and scaled, so most of what I am doing here explores these themes in one way or another.</p>
    </div>
  </div>

  <!-- Each new post is prominantly featured at the top of main page -->
  <div class="container">
    <div class="card-group card-group card-spacer">

      <div class="card bg-black border border-secondary">
        <div class="card-header">
          <h4 class="text-white">Building a ChatGPT model</h4>
        </div>
        <img class="card-img-top" src="static/images/nanogpt-dalle.png" alt="Card image cap" style="width: 350px; height: 350px">
        <div class="card-body test right">
          <p class="card-text">Generative AI, specifically Foundation models and Large Language Models, have created enormous interest. I built and trained a ChatGPT like model, here are the insights I gained.</p>
          <a href="https://johncollinsai-nanogpt-voqqf4ls3a-as.a.run.app" target="_blank" class="card-link">Continue reading ...</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Image prompt: Knowledge in the style of Egon Schiele. Model: DALL·E</small>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="card-group card-group-2 card-spacer">

      <div class="card bg-black border border-secondary">
        <div class="card-header">
          <h4 class="text-white">AI image generation</h4> 
        </div>
        <img class="card-img-top" src="static/images/stable-diffusion-dalle.png" alt="Card image cap" style="width: 250px; height: 250px">
        <div class="card-body text right">
          <p class="card-text">Implementation of Stable Diffusion 2.1 to generate some of the images used on this site.</p>
          <a href="https://johncollinsai-stable-diffusion-voqqf4ls3a-as.a.run.app" target="_blank" class="card-link">Continue reading ...</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Image prompt: Stable diffusion in the style of Euan Uglow. Model: DALL·E</small>
        </div>
      </div>

      <div class="card bg-black border border-secondary">
        <div class="card-header">
          <h4 class="text-white">LSTM</h4> 
        </div>
        <img class="card-img-top" src="static/images/lstm-dalle.png" alt="Card image cap" style="width: 250px; height: 250px">
        <div class="card-body text right">
          <p class="card-text">A thorough derivation of the LSTM network, based upon the framework set out by Sherstinsky.</p>
          <a href="https://johncollinsai-stable-diffusion-voqqf4ls3a-as.a.run.app" target="_blank" class="card-link">Continue reading ...</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Image prompt: Long and short term memories in Sin City. Model: DALL·E</small>
        </div>
      </div>

      <div class="card bg-black border border-secondary">
        <div class="card-header">
          <h4 class="text-white">High Frequency Data</h4>
        </div>
        <img class="card-img-top" src="static/images/high-frequency-data-dalle.png" alt="Card image cap" style="width: 250px; height: 250px;">
        <div class="card-body text right">
          <p class="card-text">Lengthy and detailed post discussion preparation of high frequency datasets for AAPL, JPM, and EURUSD, for subsequent work on volatility prediction using deep learning.</p>
          <a href="https://johncollinsai-high-frequency-data-voqqf4ls3a-as.a.run.app" target="_blank" class="card-link">Continue reading ...</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Image prompt: High frequency datasets in the style of benoit mandelbrot. Model: DALL·E</small>
        </div>
      </div>
      
      <div class="card bg-black border border-secondary">
        <div class="card-header">
          <h4 class="text-white">Deep Learning in Finance</h4>
        </div>
        <img class="card-img-top" src="static/images/deep-learning-finance-dalle.png" alt="Card image cap" style="width: 250px; height: 250px">
        <div class="card-body text right">
          <p class="card-text">In this post I discuss some of the academic papers I have read and found useful when considering deep learning in general, and specifically its application in finance.</p>
          <a href="https://johncollinsai-deep-learning-finance-voqqf4ls3a-as.a.run.app" target="_blank" class="card-link" title="Deep learning in Finance">Continue reading ...</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Image prompt: Billions of financial data points in the style of Lucian Freud. Model: DALL·E</small>
        </div>
      </div>

    </div>
  </div>

  <!-- Footer -->
  <div class="container-fluid bg-black py-3">
    <div class="row">
      <div class="col text-center text-white">
        <p>&copy; 2023 johncollins</p>
      </div>
    </div>
  </div>

</body>
</html>

