<!doctype html>
<html lang="en">
<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:image" content="static/images/nanogpt-sdxl-1.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta name="title" content="johncollins.ai">
  <meta name="description" content="AI at Scale: Projects & Insights">
  <meta property="og:title" content="johncollins.ai">
  <meta property="og:description" content="AI at Scale: Projects & Insights">
  <meta property="og:url" content="https://johncollins.ai">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="johncollins.ai">
  <meta property="og:image" content="https://johncollins.ai/static/images/15.png">
  <meta property="og:image:secure_url" content="https://johncollins.ai/static/images/15.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="johncollins.ai">
  <meta name="twitter:description" content="AI at Scale: Projects & Insights">
  <meta name="twitter:image" content="https://johncollins.ai/static/images/15.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="https://johncollins.ai/static/images/15.png">

  <title>johncollins.ai</title>
 
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

  <!-- JavaScript -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.16.2/dist/umd/popper.min.js" integrity="sha384-ZRQgMf+zD5HtB5x8yhJ4y4Y4YO/7fMeRX/PV/v2t+5Dt7FJ8NpW4LN3ZYpDV7yoA" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.0/es5/tex-mml-chtml.js"></script>

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="static/images/johncollins-favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/images/johncollins-favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/images/johncollins-favicon/favicon-16x16.png">
  <link rel="manifest" href="static/images/johncollins-favicon/site.webmanifest">
  <link rel="shortcut icon" type="image/x-icon" href="static/images/johncollins-favicon/favicon.ico">
  <a href="https://johncollins.ai/"><img src="https://johncollins.ai/static/images/johncollins-favicon/favicon.ico" alt="Favicon" style="display:none;"></a>

  <!-- Include CSS file -->
  <link rel="stylesheet" href="/static/css/style.css">

  <!-- Include JavaScript file -->
  <script src="/static/js/scripts.js"></script>
  
  <!-- Include Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

  <!-- navbar -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-custom">
    <div class="container">
      <a class="navbar-brand ml-2 text-light" href="{{ url_for('index') }}">johncollins.ai</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link text-light" href="https://twitter.com/johncollinsai" title="Follow me on Twitter" target="_blank"><i class="fab fa-twitter fa-lg fa-inverse fa-fw"></i></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-light" href="https://www.linkedin.com/in/johncollins-ai/" title="Connect with me on LinkedIn" target="_blank"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
          </li>
          <li class="nav-item ml-2">
            <a href="https://github.com/johncollinsai"><img src="https://github.githubassets.com/favicon.ico" title="Follow me on GitHub" alt="GitHub icon" style="filter: invert(100%);" target="_blank"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron jumbotron-fluid jumbotron-black-top">
    <div class="container">
      <h1 class="display-4 h1-margin-top h1-margin-bottom">AI at Scale: Projects & Insights</h1>
      <p class="lead">Welcome to my personal space where I build and scale AI using Deep Learning, Language Models, and GPTs. Here, I share my work and explore AI topics that I find interesting.</p>
      <p>This site is a composite of several AI applications and a variety of HTML-based posts. Each of my AI applications is architected as a microservice, functioning independently while also forming part of an integrated ecosystem.</p>
      <p>The front end uses Flask, a lightweight WSGI web application framework, along with the combination of HTML, CSS, and JavaScript to provide intuitive and responsive UI. Flask's ease of use and flexibility is ideal for my purposes.</p>
      <p>My platform is hosted on Google Cloud, utilizing Nginx as a web server and proxy, and orchestrated through Kubernetes (K8s) for managing the microservices, ensuring smooth deployment, scaling, and networking.</p>
      <p>The source code that drives my platform resides across multiple repositories on <a href="https://github.com/johncollinsai" target-"_blank">my GitHub</a>. This multi-repo strategy facilitates modular development and efficient version control. If you're interested in delving deeper into the mechanics behind the services you see here, you're welcome to explore the GitHub repositories to understand my codebase further.</p>
    </div>
  </div>
  
  <!-- Latest post -->
  <section class="container-fluid bg-black py-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="text-center text-blue my-4">Latest</h2>
        <div class="container">
          <div class="card-group card-group card-spacer">
            <div class="card bg-black border border-secondary">
              <div class="row g-0">
                <div class="col-md-5">
                  <img class="card-img-top" class="img-responsive" src="static/images/jenny-saville-2.png" alt="Card image cap">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h4 class="text-white">Using a GPT for volatility prediction in risk management</h4>
                      <p class="card-text">AI now has many more permutations of input/output, i.e., text-to-image (<a href="https://labs.openai.com/" target="_blank">OpenAI's DALL·E</a>), and text-to-video (<a href="https://imagen.research.google/" target="_blank">Google's Imagen</a>). I trained a small text-to-text GPT (<a href="https://johncollinsai-nanogpt-voqqf4ls3a-as.a.run.app" target="_blank">Karpathy's NanoGPT</a>) on high-frequency OHLC data and it performed well at volatility prediction. This is a very interesting result indeed that suggests LLMs can be trained and used for risk management.</p>
                      <p class="card-text">NanoGPT is a smaller and more lightweight version of the larger GPT models, like ChatGPT and GPT-4. It uses a simple bigram language model and a transformer architecture with multi-head self-attention. I convert numbers to text and train the text-to-text nanoGPT to understand the patterns in the data well enough to generate text in the form of OHLC stock price data that can be switched back to numbers and used for complex numeric computations.</p>
                      <a href="{{ url_for('volgpt') }}" target="_blank" class="card-link">Continue reading ...</a>
                      <p class="card-text"><small class="text-muted">Image prompt: Cecily Brown compares volatility and returns. Model: SDXL</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Showcase -->
  <section class="container-fluid pt-4 pb-5" style="background-color: #6F42C1; border: none;">
    <div class="container">
      <div class="row justify-content-center" style="display: flex; align-items: stretch;">
        <!-- Card -->
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="card bg-transparent custom-card custom-border">
            <div class="card-body text-light">
              <h2 class="text-center my-4 text-white">Responsible AI</h2>
              <p>I built the AI chatbot opposite, which employs <a href="https://labs.openai.com/" target="_blank">OpenAI's GPT-4</a> language model to generate company-specific analyses. Select a report type (business, investigation, finance), input a valid company name, and the AI generates a tailored report. Notice the application of rigorous input validation and specific response boundaries, a cornerstone of responsible AI.</p>
              <p>Key principles of responsible AI implementation include:</p>
              <ul>
                <li><strong>Misuse Prevention:</strong> Input validation blocks harmful or inappropriate AI outputs and potential misuse.</li>
                <li><strong>User Safety:</strong> Techniques like input validation safeguard sensitive personal information, aligning with privacy laws.</li>
                <li><strong>Output Quality:</strong> Prompt engineering steers the AI to generate detailed, accurate responses, in this case specific types of analysis.</li>
                <li><strong>Ethical Guidelines Adherence:</strong> Input validation and prompt engineering ensure respect for societal norms and ethical guidelines.</li>
                <li><strong>Biases Mitigation:</strong> Careful input validation and prompt engineering can control amplification of existing biases.</li>
              </ul>
              <p>This AI chatbot therefore illustrates how input validation and prompt engineering are crucial in maintaining responsible, safe, and high-quality AI outputs.</p>
            </div>
          </div>
        </div>
        <!-- Iframe -->
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe id="predefined-question" class="embed-responsive-item" src="https://johncollinsai-analyst-gpt-voqqf4ls3a-as.a.run.app" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Showcase -->
  <section class="bg-light-grey border border-secondary py-5">
    <div class="container">
      <div class="content-wrapper">
        <h2 class="text-center my-4 text-blue">Prompt engineering</h2>
        <div class="container">
          <div class="card-group card-group card-spacer">
            <div class="card bg-white">
              <div class="row g-0">
                <div class="col-md-5">
                  <img class="card-img-top" class="img-responsive" src="static/images/prompt-engineering.png" alt="Card image cap">
                </div>
                <div class="col-md-7">
                  <div class="card-body">
                    <h4 class="text-black">Prompt engineering</h4>
                    <p class="card-text text-black">Have you ever wondered why the LLM you are using, say ChatGPT or Claude, provides a lot of additional information that you are not necessarily looking for and why certain other apps that use the same underlying LLM/GPT models provide more targeted responses?  One way we obtain more specific answers from our models is through "prompt engineering".</p>
                    <p class="card-text text-black">In this post I talk about prompt engineering, share insights from my experience, and describe some commonly used approaches.</p>
                    <p class="card-text text-black">Prompt engineering involves a deep understanding of the model's capabilities, idiosyncrasies, and limitations, making it a blend of both science and art. Implementing apps that use prompt engineering can be technically challenging, so it requires coding and deployment skills too.</p>
                    <a href="{{ url_for('promptengineering') }}" target="_blank" class="card-link">Continue reading ...</a>
                    <p class="card-text"><small class="text-muted">Image prompt: Engineering optimal outcomes in the style of Chuck Close. Model: SDXL</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p></p> <!-- Spacer -->
        <p class="text-center text-black">I built the AI chatbot below to show how prompt engineering alters a model's response. The same language model is prompted with the company name.  On the left the prompt is passed directly to the model, whilst on the right it is engineered to obtain a more targeted response.</p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe id="predefined-question" class="embed-responsive-item" src="https://johncollinsai-promptengineering-voqqf4ls3a-as.a.run.app" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Posts section -->
  <section class="bg-black py-5">
    <div class="container">
      <h2 class="text-center my-4 text-blue">Posts</h2>

      <!-- Most recent post inside latest post section. Note different structure of first post to older posts section -->
      <!-- FIRST POST IS CURRENTLY REM'd OUT, BUT USE BELOW AS TEMPLATE NEXT TIME I MOVE A POST DOWN-->
      <!-- <div class="container">
        <div class="card-group card-group card-spacer">
          <div class="card bg-black border border-secondary">
            <div class="row g-0">
              <div class="col-md-5">
                <img class="card-img-top" class="img-responsive" src="static/images/jenny-saville-2.png" alt="Card image cap">
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <h4 class="text-white">Using a GPT for volatility prediction in risk management</h4>
                    <p class="card-text">AI now has many more permutations of input/output, i.e., text-to-image (<a href="https://labs.openai.com/" target="_blank">OpenAI's DALL·E</a>), and text-to-video (<a href="https://imagen.research.google/" target="_blank">Google's Imagen</a>). I trained a small text-to-text GPT (<a href="https://johncollinsai-nanogpt-voqqf4ls3a-as.a.run.app" target="_blank">Karpathy's NanoGPT</a>) on high-frequency OHLC data and it performed well at volatility prediction. This is a very interesting result indeed that suggests LLMs can be trained and used for risk management.</p>
                    <p class="card-text">NanoGPT is a smaller and more lightweight version of the larger GPT models, like ChatGPT and GPT-4. It uses a simple bigram language model and a transformer architecture with multi-head self-attention. I convert numbers to text and train the text-to-text nanoGPT to understand the patterns in the data well enough to generate text in the form of OHLC stock price data that can be switched back to numbers and used for complex numeric computations.</p>
                    <a href="{{ url_for('volgpt') }}" target="_blank" class="card-link">Continue reading ...</a>
                    <p class="card-text"><small class="text-muted">Image prompt: Cecily Brown compares volatility and returns. Model: SDXL</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

    </div>
  </section>

  <!-- Older posts organized in two-card rows underneath the most recent post -->

  <div class="container">
    <div class="row">

      <div class="col-md-6 mb-4">
        <div class="card bg-black border border-secondary">
          <div class="row g-0">
            <div class="col-md-5">
              <img class="card-img-top" class="img-responsive" src="static/images/jenny-saville-1.png" alt="Card image cap">
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <h4 class="text-white">GPT4 builds a website.</h4>
                  <p class="card-text">I used GPT4 to create a website from scratch, prompting the ChatGPT-Plus UI, to see how well instructing a model in this way works in practice. This is the <a href="https://johncollinsai-gpt4-website-voqqf4ls3a-as.a.run.app" target="_blank">website created by GPT4</a> in a single response/response exchange.</p>
                  <a href="{{ url_for('gpt4') }}" target="_blank" class="card-link">Continue reading ...</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="card bg-black border border-secondary">
          <div class="row g-0">
            <div class="col-md-5">
              <img class="card-img-top" class="img-responsive" src="static/images/nanogpt-sdxl-1.png" alt="Card image cap">
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <h4 class="text-white">Building a GPT</h4>
                  <p class="card-text">I built and trained a Generative Pretrained Transformer (GPT). This post is a hands-on exploration of GPTs and the transformer architecture, following <a href="https://www.youtube.com/watch?v=kCc8FmEb1nY" target="_blank">Karpathy's approach</a>.</p>
                  <a href="{{ url_for('nanogpt') }}" target="_blank" class="card-link">Continue reading ...</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="card bg-black border border-secondary">
          <div class="row g-0">
            <div class="col-md-5">
              <img class="card-img-top" class="img-responsive" src="static/images/lstm-sdxl.png" alt="Card image cap">
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <h4 class="text-white">LSTM</h4>
                  <p class="card-text">I devote considerable effort to a mathematical enunciation of LSTM, based upon the framework set out by Sherstinsky. A thorough derivation of the LSTM network is generally skipped in finance deep learning literature that features the LSTM. </p>
                  <a href="https://johncollinsai-lstm-voqqf4ls3a-as.a.run.app" target="_blank" class="card-link">Continue reading ...</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="card bg-black border border-secondary">
          <div class="row g-0">
            <div class="col-md-5">
              <img class="card-img-top" class="img-responsive" src="static/images/high-frequency-data-sdxl.png" alt="Card image cap">
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <h4 class="text-white">High Frequency Data</h4>
                  <p class="card-text">In this post I discuss the preparation of high frequency datasets for Apple (Apple Inc., NASDAQ, ticker: AAPL), JPM (JPMorgan Chase & Co., NYSE, ticker: JPM), and the EURUSD currency pair, using volatility prediction as my problem setting.</p>
                  <a href="https://johncollinsai-high-frequency-data-voqqf4ls3a-as.a.run.app" target="_blank" class="card-link">Continue reading ...</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="card bg-black border border-secondary">
          <div class="row g-0">
            <div class="col-md-5">
              <img class="card-img-top" class="img-responsive" src="static/images/dlf-jenny-saville.png" alt="Card image cap">
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <h4 class="text-white">Deep Learning in Finance</h4>
                  <p class="card-text">In this post I discuss some of the papers I have read and found useful when considering deep learning in finance. I discuss academic literature here because a rigorous consideration of deep learning in finance is important, imho.</p>
                  <a href="https://johncollinsai-deep-learning-finance-voqqf4ls3a-as.a.run.app" target="_blank" class="card-link">Continue reading ...</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- AI-Generated Images -->
  <div class="container bg-black pt-4 pb-5">
    <div class="row justify-content-center">
      <div class="col-md-8 full-width-parent">
        <h2 class="text-center text-white my-4">AI-Generated Images</h2>
        <table class="table table-dark table-hover full-width-table">
          <thead>
            <tr>
              <th scope="col">Post</th>
              <th scope="col">Model</th>
              <th scope="col">Image Prompt</th>
            </tr>
          </thead>
          <tbody>
            <tr data-img="https://johncollins.ai/static/images/prompt-engineering.png">
              <td>Prompt engineering</td>
              <td>SDXL</td>
              <td>Prompt engineering optimal outcomes in the style of Chuck Close</td>
            </tr>
            <tr data-img="https://johncollins.ai/static/images/jenny-saville-2.png">
              <td>Using a GPT for volatility prediction in risk management</td>
              <td>SDXL</td>
              <td>Cecily Brown compares volatility and returns</td>
            </tr>
            <tr data-img="https://johncollins.ai/static/images/jenny-saville-1.png">
              <td>GPT4 builds a website. In seconds. And it works.</td>
              <td>SDXL</td>
              <td>Jenny Saville watches GPT build a website</td>
            </tr>
            <tr data-img="https://johncollins.ai/static/images/nanogpt-sdxl-1.png">
              <td>Building a GPT</td>
              <td>SDXL</td>
              <td>Knowledge in the style of Egon Schiele</td>
            </tr>
            <tr data-img="https://johncollins.ai/static/images/lstm-sdxl.png">
              <td>LSTM</td>
              <td>SDXL</td>
              <td>Long and short term memories of Ai Wei Wei</td>
            </tr>
            <tr data-img="https://johncollins.ai/static/images/high-frequency-data-sdxl.png">
              <td>High Frequency Data</td>
              <td>SDXL</td>
              <td>High frequency datasets seen by benoit mandelbrot</td>
            </tr>
            <tr data-img="https://johncollins.ai/static/images/dlf-jenny-saville.png">
              <td>Deep Learning in Finance</td>
              <td>SDXL</td>
              <td>Deep learning in the style of Jenny Saville</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Modal NOT YET WORKING, SEE CHATGPT "SHOW IMAGES" -->
  <div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
  </div>
  
  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Include JavaScript file -->
  <script src="/static/js/scripts.js"></script>

  <!-- Footer -->
  <div class="container-fluid bg-black py-3">
    <div class="row">
      <div class="col text-center text-white">
        <p>&copy; 2023 johncollins</p>
      </div>
    </div>
  </div>

</body>
</html>

