{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h2 style="color:orange; font-weight:normal">about</h2>
    <div class="container"> 
        <div class="row">
            <div class="col-md-4">
                <img src="/static/images/john-collins.jpg" alt="John Collins image"  width="80%" height="auto">
            </div>
            <div class="col-md-6">
                <p>I build and deploy highly scalable real-life AI for banks, wealth managers, and corporate clients. My specialties include deep learning and reinforcement learning, often in conjunction with other machine learning methods, broader automation frameworks (i.e., RPA, workflow), compelling and intuitive UX. I help clients use AI to solve business problems, manage risks, and reduce costs.</p>
            </div>
        </div>
    </div> 
    <hr style="height:1px;border-width:0;color:orange;background-color:orange">
    <br>
    <h2 style="color:orange;font-weight:normal;">contact</h2>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}


