{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1 style="color:orange;font-weight:normal;">about</h1>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                <h4 class="card-title">john collins, phd</h4>
                <img src="/static/images/john-collins.jpg" alt="John Collins image" style="max-width: 100%;">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                <h4 class="card-title">bio</h4>
                <p class="card-text">I created and lead <a href="https://ftiai.com" target="_blank">FTIAI</a>.</p>
                <br>
                <p class="card-text">You can see some of my personal work <a href="{{ url_for('index') }}" target="_blank">here</a> and <a href="{{ url_for('archive') }}" target="_blank">here</a>.</p>
                <br>
                <p class="card-text">And on <a href="https://github.com/johncollinsai" target="_blank">my github</a>.</p>
                <br>
                <p class="card-text">I build and deploy highly scalable real-life AI for banks, wealth managers, and corporate clients. I do this with a broad range of deep learning and reinforcement learning methods, often in conjunction with other machine learning, broader automation frameworks (i.e., RPA, workflow), compelling and intuitive UX.</p>
                <br>
                <p class="card-text">I hold a PhD Finance (Financial Mathematics and Econometrics) from EDHEC Business School. My research applied deep learning to volatility prediction and compared deep learning to canonical high dimensional state space models, such as the Markov-Switching Multifractal stochastic volatility model, under the supervision of Professor Laurent Calvet.</p>
                </div>
            </div>
        </div>
    </div>
<hr style="height:1px; margin:10; width:99%; color:orange; background-color:orange">
<h1 style="color:orange;font-weight:normal;text-align:center">contact</h1>
    <div class="row">
        <!-- <div class="col-md-4"> -->
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-12">
        {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}


