<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="static/images/prompt-engineering.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="title" content="johncollins.ai/promptengineering">
    <meta name="description" content="Prompt Engineering">
    <meta property="og:title" content="johncollins.ai">
    <meta property="og:description" content="Prompt Engineering">
    <meta property="og:url" content="https://johncollins.ai/promptengineering">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="johncollins.ai/promptengineering">
    <meta property="og:image" content="https://johncollins.ai/app/static/images/prompt-engineering.png">
    <meta property="og:image:secure_url" content="https://johncollins.ai/app/static/images/prompt-engineering.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="johncollins.ai/promptengineering">
    <meta name="twitter:description" content="Prompt Engineering">
    <meta name="twitter:image" content="https://johncollins.ai/app/static/images/prompt-engineering.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://johncollins.ai/app/static/images/prompt-engineering.png">
  
    <title>johncollins.ai</title>
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  
    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.16.2/dist/umd/popper.min.js" integrity="sha384-ZRQgMf+zD5HtB5x8yhJ4y4Y4YO/7fMeRX/PV/v2t+5Dt7FJ8NpW4LN3ZYpDV7yoA" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.0/es5/tex-mml-chtml.js"></script>
  
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/prompt-engineering-favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/prompt-engineering-favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/prompt-engineering-favicon/favicon-16x16.png">
    <link rel="manifest" href="static/images/prompt-engineering-favicon/site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="static/images/prompt-engineering-favicon/favicon.ico">
    <a href="https://johncollins.ai/promptengineering"><img src="https://johncollins.ai/static/images/prompt-engineering-favicon/favicon.ico" alt="Favicon" style="display:none;"></a>
  
    <!-- Include CSS file -->
    <link rel="stylesheet" href="/static/css/style.css">
  
    <!-- Include error handling file -->
    <script src="/static/js/errorHandling.js"></script>
  
    <!-- Include JavaScript file -->
    <script src="/static/js/scripts.js"></script>
    
    <!-- Include Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<!-- navbar -->
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand ml-2" href="{{ url_for('index') }}">johncollins.ai</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="https://twitter.com/johncollinsai" title="Follow me on Twitter" target="_blank"><i class="fab fa-twitter fa-lg fa-inverse fa-fw"></i></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="https://www.linkedin.com/in/johncollins-ai/" title="Connect with me on LinkedIn" target="_blank"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
          </li>
          <li class="nav-item ml-2">
            <a href="https://github.com/johncollinsai"><img src="https://github.githubassets.com/favicon.ico" title="Follow me on GitHub" alt="GitHub icon" style="filter: invert(100%);" target="_blank"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<!-- Title -->
<div class="jumbotron jumbotron-fluid jumbotron-black-top">
  <div class="container">
    <h1 class="display-4 text-center text-blue">Prompt Engineering</h1>
  </div>
</div>

<!-- Intro -->
<div class="container">
  <h2 class="margin-top-custom text-white">Introduction</h2>
    <p>Prompt engineering refers to the process of designing and optimizing the inputs or "prompts" to an AI model to elicit the most accurate, relevant, and meaningful outputs. This process involves a deep understanding of the model's capabilities, idiosyncrasies, and limitations, making it a blend of both science and art. Implementing apps that use prompt engineering can be technically challenging too.</p>
    <p>The heart of effective prompt engineering lies in understanding how AI models learn. Large language models, trained on vast datasets, learn to predict the next word in a sentence based on the context provided by preceding words. Therefore, the way I frame a prompt can significantly influence the model's response. The choice of keywords, the context provided, the tone, and even the specificity of a prompt can dramatically alter the output. Consequently, prompt engineering involves a lot of experimentation and iteration to find the best prompts that yield the desired results.</p>
    <p>So, why is prompt engineering so crucial? The answer lies in the fundamental goal of any AI system: to serve as a useful tool that can assist in complex tasks, provide insights, and make our work more efficient. For example, in data analysis, a well-crafted prompt can help an AI model generate a nuanced analysis of complex data, identify patterns, and provide predictions. Similarly, in research, optimized prompts can enable AI models to solve complex problems or generate new hypotheses.</p>
    <p>However, while prompt engineering is powerful, it is not without its challenges. The quality of a model's output is highly dependent on the quality and specificity of the input prompt, which can be a double-edged sword. Too vague a prompt might result in broad and irrelevant responses, while an overly-specific prompt might constrain the model's creativity and limit the scope of its output. Hence, prompt engineering requires a delicate balance. Furthermore, biases inherent in the training data can emerge in the model's response, which calls for careful scrutiny and continuous tweaking of prompts.</p>
</div>

<!-- promtengineering webapp -->
<section class="bg-black py-5">
  <div class="container">
    <div class="content-wrapper">
      <h2 class="text-center my-4 text-purple">Demonstrating the impact of prompt engineering</h2>
      <p class="text-center text-light-grey">We can use the webapp below to see how prompt engineering alters a model's response. The same language model is prompted with the company name.  On the left the prompt is passed directly to the model, whilst on the right it is engineered to obtain a more targeted response.</p>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe id="predefined-question" class="embed-responsive-item" src="https://johncollinsai-promptengineering-voqqf4ls3a-as.a.run.app" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>

<!-- Approaches -->
<div class="container">
  <h2 class="margin-top-custom text-white">Approaches</h2>
  <p>There are several ways in which we can engineer prompts to get responses from models that best fit a specific requirement. The "Zero-shot" and "Few-shot" approaches provide the model with no, or just a handful, of examples to guide its output. The "instruction" approach focuses on the task definition or command within the input prompt, influencing the model's output through its specificity, clarity, and context. "Chain of Thought" (CoT) approaches allow for a more dynamic and interactive engagement with the model, breaking down complex tasks into a series of simpler, linked prompts.</p>
  <h4 class="margin-top-custom text-light-grey">Zero shot</h4>
  <p>In the context of machine learning, "zero-shot" learning refers to the ability of a model to handle tasks it has not explicitly seen during training. Consider a language model like GPT-4, which has been trained on a diverse set of text data. The model learns to predict the next word in a sequence given the context of the previous words. However, it doesn't explicitly learn tasks like translation or summarization during training. Instead, it learns a rich representation of the data, which can be leveraged to perform these tasks in a zero-shot manner. This is achieved by carefully crafting the input prompt to specify the task and provide the necessary context. Despite not being explicitly trained on these tasks, GPT-4 can perform them, effectively making a 'zero-shot' at a completely new task.</p>
  <h4 class="margin-top-custom text-light-grey">Few shot</h4>
  <p>"Few-shot" learning, on the other hand, is a learning setup where the model is provided with a small number of examples during the inference stage to guide its output. In the context of a language model like GPT-4, this might look like providing a couple of examples of a specific task as part of the prompt. For example, to make the model generate an analysis, I might start with a couple of examples before providing the initial line for the model to complete. The few-shot setup helps the model understand the task better by providing direct examples, guiding its inference towards more accurate outputs. This approach has proven effective across a range of tasks like text classification, translation, and more.</p>
  <h4 class="margin-top-custom text-light-grey">Chain of Thought (CoT)</h4>
  <p>The "Chain of Thought" (CoT) approach is a strategy for engaging with AI models in a more dynamic and interactive manner. Instead of crafting single-shot prompts and expecting the model to understand complex tasks in one go, CoT involves breaking down the tasks into a series of simpler, linked prompts. In each step, the model's output from the previous step serves as part of the input for the next, creating a continuous chain of thought. This allows for better control over the model's output, especially for complex or nuanced tasks. However, it requires careful handling of the context window since these models have a limit to how much context they can consider in one go. Therefore, crucial information needs to be reiterated to ensure it's within the model's context window and considered in its responses.</p>
  <h4 class="margin-top-custom text-light-grey">Instruction</h4>
  <p>The term "instruction" in the context of language models, refers to the task definition or the command given to the model in the input prompt. The instruction is a crucial part of the prompt that guides the model's output. It can be explicit, where the task is directly stated like "Translate all non-English text in the following text to English:", or implicit, where the task is indirectly indicated through the context. The instruction's formulation is a key aspect of prompt engineering, and its specificity, clarity, and context can greatly influence the quality and relevance of the model's output. Furthermore, the instruction can be designed to include reasoning steps or desired output format, providing more control over the model's output.</p>
</div>

<!-- Technical Challenges -->
<div class="container">
  <h2 class="margin-top-custom text-white">Technical Challenges</h2>
    <p>We can see in the section above "Demonstrating the impact of prompt engineering" that the GPT4 response is quite slow. The asynchronous function I am using is already optimized to a great extent. It is running the OpenAI API call in a separate thread, which is the best approach I can find for now to speed up I/O-bound tasks like this one. However, the speed of this function is primarily dependent on the response time of the OpenAI API, which is out of my control. If the API is slow, my function will also be slow because it has to wait for the response.</p>
    <p>AI computations can be quite intensive, and the speed will also depend on the complexity of the task I am asking the model to perform. In this case, I am asking the model to generate a fairly complex and detailed output, which involves obtaining the "raw" model response plus the engineered response, so it takes some time. To improve the performance I have tried things like reducing the max_tokens value, but this has the negative effect of also reducing the quality of the response. I have also tried running multiple tasks concurrently, but this increases the API rate limits.</p>
    <p>Where I have multiple independent tasks, I try to run them concurrently. For example, if I am calling this function multiple times with different prompts and modalities, I use asyncio.gather() to run these tasks concurrently. I have also reduced the amount of data, for example, by reducing the max_tokens. This does speed up the response time but at the cost of potentially less detailed responses. As with many aspects of the implementation, it is a trade off and a lot of trial and error is required.</p>
</div>

<!-- Source code -->
<div class="container">
  <h4 class="margin-top-custom text-light-grey">Source code</h4>
  <p>Source code for this post can be found on my <a href="https://github.com/johncollinsai/promptengineering" target-"_blank">GitHub</a>.</p>
</div>

<!-- References -->
<div class="container">
  <h2 class="margin-top-custom text-white">References</h2>
  <p>Chip Huyen (2023). Building LLM applications for production. <a href="https://huyenchip.com/2023/04/11/llm-engineering.html" target-"_blank">Chip Huyen</a>.</p>
  <p>Lilian Weng (2023). Prompt Engineering. <a href="https://lilianweng.github.io/posts/2023-03-15-prompt-engineering/" target-"_blank">Lil'Log</a>.</p>
  <p>Wei, J., et al. (2022). Chain-of-Thought Prompting Elicits Reasoning in Large Language Models. <a href="https://arxiv.org/abs/2201.11903" target-"_blank">arXiv:2201.11903</a>.</p>
  <p>Yoran, O., et al. (2023). Answering Questions by Meta-Reasoning over Multiple Chains of Thought. <a href="https://arxiv.org/abs/2304.13007" target-"_blank">	arXiv:2304.13007</a>.</p>
</div>


<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Footer -->
<div class="container-fluid bg-black py-3">
  <div class="row">
    <div class="col text-center text-white">
      <p>&copy; 2023 johncollins</p>
    </div>
  </div>
</div>
  
</body>
</html>

                           
